# Configuración de Firebase
EXPO_PUBLIC_FIREBASE_API_KEY=tu_api_key_aqui
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=tu_auth_domain_aqui
EXPO_PUBLIC_FIREBASE_PROJECT_ID=tu_project_id_aqui

# Configuración de Google Maps / Places
EXPO_PUBLIC_GOOGLE_PLACES_API_KEY=tu_google_api_key_aqui